In [2]:
import pandas as pd
import numpy as np
import re
df = pd.read_csv('temperaturesbarcelonadesde1780.csv')
ds = pd.read_csv('temperaturesbarcelonadesde1780_format_long.csv')

#df is a Dataframe with Year and Montlhy average temperature as columns.
#And years as rows

In [3]:
#It is important for us to use Years as the main index for easy manipulation
df_years = df.set_index('Any')

#In order to find the average temperature of each year, we create two lists and we iterate between the years 1818-2018

years = range(1818,2019)
ymean = []
yyear = []
for r in years:
    t = round(df_years.loc[r].mean(),2)
    ymean.append(t)
    yyear.append(r)

#We already have two lists, ymean has the average temperatures and yyear has the years. We create a dictionary with the description and the values. And we convert it to a Dataframe
ydict = {'Year': yyear, 'Avg_temp': ymean}
ymean_df = pd.DataFrame.from_dict(ydict)
ymean_df = ymean_df.set_index('Year')

#### FINDING MAX YEARLY AVG AND MIN
ymean_sort = ymean_df.sort_values('Avg_temp', ascending= False)

#### Average of the 200 years
ymean_mean = ymean_df.mean()


## Difference between hottest and coldest in years and temperature
maxdif = ymean_df.iloc[197] - ymean_df.iloc[69]

####### GLOSSARY OF VARIABLES
## [[df_years]] = The original chart making years as the main index
# df_years
## [[ymean_df]] = Chart with years and their yearly average. Sorted by years
# ymean_df
## [[ymean_mean]] = The average temperature for the 200 years analized, 14,65ºC
# ymean_mean
## [[ymean_sort]] = is a chart with the 200 years and their temperature sorted from hottest to coldest.
# ymean_sort
## [[maxdif]] = The difference in temperature and years from the hottest to the coolest.
# maxdif

In [4]:
### Calculating 100 year average temperatures gap
hundyr = range(100)
hungap = []
hunyr = []
for h in hundyr:
    raw = ymean_df.iloc[100+h] - ymean_df.iloc[h]
    yr = 1919
    hunyr.append(f'{yr+h}-{yr-100+h}')
    hungap.append(raw)

gapdict = {'Period': hunyr, 'Avtempdif': hungap}
gap_df = pd.DataFrame.from_dict(gapdict)
gap_df.Avtempdif = gap_df.Avtempdif.apply(lambda x: x.replace('Avg_temp ', ''))
sortgap = gap_df.sort_values('Avtempdif', ascending=False)
sortgap

       Period  Avtempdif
99  2018-1918       2.74
91  2010-1910       2.74
97  2016-1916       2.73
69  1988-1888       2.48
85  2004-1904       2.37
..        ...        ...
38  1957-1857      -0.48
4   1923-1823      -0.55
66  1985-1885      -0.65
54  1973-1873      -0.82
28  1947-1847      -1.18

[100 rows x 2 columns]

In [6]:
### Calculating 50 year average temperatures gap
hundyr = range(50)
hungap = []
hunyr = []
for h in hundyr:
    raw = ymean_df.iloc[50+h] - ymean_df.iloc[h]
    yr = 1919
    hunyr.append(f'{yr+h}-{yr-50+h}')
    hungap.append(raw)

gapdict = {'Period': hunyr, 'Avtempdif': hungap}
gap_df = pd.DataFrame.from_dict(gapdict)
gap_df.Avtempdif = gap_df.Avtempdif.apply(lambda x: x.replace('Avg_temp ', ''))
sortgap = gap_df.sort_values('Avtempdif', ascending=False)
sortgap

       Period  Avtempdif
36  1955-1905       1.34
32  1951-1901       1.13
27  1946-1896       1.10
14  1933-1883       0.95
35  1954-1904       0.93
25  1944-1894       0.92
2   1921-1871       0.89
5   1924-1874       0.87
9   1928-1878       0.85
17  1936-1886       0.84
8   1927-1877       0.76
0   1919-1869       0.71
33  1952-1902       0.65
16  1935-1885       0.61
6   1925-1875       0.61
29  1948-1898       0.57
30  1949-1899       0.53
43  1962-1912       0.51
37  1956-1906       0.41
21  1940-1890       0.41
7   1926-1876       0.39
26  1945-1895       0.36
42  1961-1911       0.36
12  1931-1881       0.19
22  1941-1891       0.16
24  1943-1893       0.15
31  1950-1900       0.14
11  1930-1880       0.09
38  1957-1907       0.03
23  1942-1892       0.00
18  1937-1887      -0.02
1   1920-1870      -0.04
3   1922-1872      -0.20
39  1958-1908      -0.26
44  1963-1913      -0.31
4   1923-1873      -0.32
40  1959-1909      -0.43
46  1965-1915      -0.46
45  1964-1914      -0.48
20  1939-1889      -0.50
48  1967-1917      -0.52
34  1953-1903      -0.59
10  1929-1879      -0.59
15  1934-1884      -0.64
19  1938-1888      -0.65
13  1932-1882      -0.75
47  1966-1916      -1.01
49  1968-1918      -1.03
41  1960-1910      -1.32
28  1947-1897      -1.36

In [26]:
# Calculating average temperatures of the different seasons and the yearly standard deviation.
dff = pd.read_csv('temperaturesbarcelonadesde1780.csv')
columns = ['Any', 1,2,3,4,5,6,7,8,9,10,11,12]
dff.columns = columns

t0 = dff[['Any']]
t1 = dff[['Any', 1,2,3]]
t2 = dff[['Any', 4,5,6]]
t3 = dff[['Any', 7,8,9]]
t4 = dff[['Any', 10,11,12]]

t0 = t0.set_index('Any')
t1 = t1.set_index('Any')
t2 = t2.set_index('Any')
t3 = t3.set_index('Any')
t4 = t4.set_index('Any')

years = range(0,239)
t1mean = []
t2mean = []
t3mean = []
t4mean = []

for r in years:
   t = round(t1.iloc[r].mean(),2)
   t22 = round(t2.iloc[r].mean(),2)
   t33 = round(t3.iloc[r].mean(),2)
   t44 = round(t4.iloc[r].mean(),2)
   t1mean.append(t)
   t2mean.append(t22)
   t3mean.append(t33)
   t4mean.append(t44)

t0.insert(0, 'T1Avg', t1mean, True)
t0.insert(1, 'T2Avg', t2mean, True)
t0.insert(2, 'T3Avg', t3mean, True)
t0.insert(3, 'T4Avg', t4mean, True)
t0def = t0.iloc[38:239]
t0def.insert(4, 'YAvg', ymean, True) 
stdt0 = t0def.std(axis=1)
defchart = pd.DataFrame(stdt0)
t0def.insert(4, 'Std', defchart, True)
t0def

      T1Avg  T2Avg  T3Avg  T4Avg       Std   YAvg
Any
1818   9.23  14.80  20.43  11.83  4.166104  14.07
1819   8.43  16.33  21.03  11.57  4.778002  14.34
1820   7.53  15.47  20.73  10.23  5.061798  13.49
1821   8.87  14.77  20.87  12.73  4.339793  14.31
1822   9.07  17.63  21.23  11.70  4.789324  14.91
...     ...    ...    ...    ...       ...    ...
2014  10.73  17.73  22.53  14.10  4.379489  16.27
2015   9.77  19.03  23.07  14.53  4.967384  16.60
2016  11.03  17.20  23.90  13.77  4.811999  16.48
2017  10.87  18.70  22.73  13.20  4.641587  16.38
2018   9.33  17.77  24.53  13.50  5.619463  16.28

[201 rows x 6 columns]

In [36]:
#Checking maxs and mins per term 

#Term1: Winter
term1 = t0def[['T1Avg']]
sort_term1 = term1.sort_values("T1Avg", ascending=False)
sort_term1.head()
sort_term1.tail()

#Term2: Spring

term2 = t0def[['T2Avg']]
sort_term2 = term2.sort_values("T2Avg", ascending=False)
sort_term2.head()
sort_term2.tail()

#Term3: Summer 

term3 = t0def[['T3Avg']]
sort_term3 = term3.sort_values("T3Avg", ascending=False)
sort_term3.head()
sort_term3.tail()

#Term4: Autumn 

term4 = t0def[['T4Avg']]
sort_term4 = term4.sort_values("T4Avg", ascending=False)
sort_term4.head()
sort_term4.tail()

#Checking standard deviations: see highest dispersion 

#Std

Std = t0def[['Std']]
sort_Std = Std.sort_values("Std", ascending=False)
sort_Std.head()
sort_Std.tail()

           Std
Any
1833  3.922100
1882  3.915791
1972  3.857626
1977  3.674088
1912  3.648538